@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>Use this area to provide additional information.</p>
<img src="~/images/maxresdefault.jpg" alt="Alternate Text" width="1000" height="700" />
